/* App.css */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#ff8a00, #e52e71, #667eea); /* Radial gradient background with multiple colors */
}
#counter {
  text-align: center;
}

.counter-text {
  font-size: 3rem;
  margin-bottom: 20px;
  animation: rotatePulse 2s infinite;
}

.like-btn,
.unlike-btn,
.reset-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px 10px; /* Adjusted margin for spacing */
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.5s ease;
  animation: pulsate 2s infinite;
}

.like-btn:hover,
.unlike-btn:hover,
.reset-btn:hover {
  background-color: #45a049; /* Darken the color on hover */
}

.unlike-btn {
  background-color: #e53935;
}

.unlike-btn:hover {
  background-color: #c62828; /* Darken the color on hover */
}

.reset-btn {
  background-color: #2196f3;
}

.reset-btn:hover {
  background-color: #1565c0; /* Darken the color on hover */
}

@keyframes rotatePulse {
  0% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.2) rotateY(0deg);
  }
  100% {
    transform: scale(1) rotateY(360deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Complicated code */

.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)); /* Overlay gradient */
  z-index: -1;
}

.app-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1); /* Circle overlay */
  z-index: -1;
  animation: pulsateOverlay 3s infinite;
}

@keyframes pulsateOverlay {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.6;
  }
}